<div class="container">
  <div class="row">
    <h2 class="bg-light m-5">商品詳細</h2>
  </div>
  <div class="row">
    <div class="col">
      <%= image_tag @item.image, size: '200x200' %>
    </div>
    <div class="col">
      <table class="table table-borderless table-sm w-auto">
        <tbody>
          <tr>
            <th>商品名</th>
            <td><%= @item.name %></td>
          </tr>
          <tr>
            <th>商品説明</th>
            <td><%= @item.introduction %></td>
          </tr>
          <tr>
            <th>ジャンル</th>
            <td><%= @item.genre.name %></td>
          </tr>
          <tr>
            <th>税込価格</br>(税抜価格)</th>
            <td>
              <%= @item.add_tax_price.to_s(:delimited) %>
              (<%= @item.price.to_s(:delimited) %>)円
            </td>
          </tr>
          <tr>
            <th>販売ステータス</th>
              <% if @item.is_active == true %>
                <td class="text-success font-weight-bold">販売中</td>
              <% else %>
                <td class="text-muted font-weight-bold">販売停止中</td>
              <% end %>
          </tr>
        </tbody>
      </table>
      <div>
        <%= link_to "編集する", edit_admin_item_path(@item.id), class: 'btn btn-success mt-3' %>
      </div>
    </div>
  </div>
</div>


