<%= form_with model: @admin, url: admin_session_path do |f| %>
  <div class="container">
    <div class="row">
      <h3 class="bg-light mx-3 my-5">管理者ログイン</h3>
    </div>
    <div class="row">
      <table class="table table-borderless table-sm w-auto mx-auto">
        <tr>
          <td><%= f.label :email %></td>
          <td><%= f.email_field :email, size: 50, autofocus: true, autocomplete: "email", placeholder: "sample@example.com" %></td>
        </tr>
        <tr>
          <td><%= f.label :password %></td>
          <td><%= f.password_field :password, size: 50, autocomplete: "current-password" %></td>
        </tr>
        <tr>
          <td></td>
          <td><%= f.submit "ログイン", class: 'btn btn-primary mt-3' %></td>
        </tr>
      </table>
    </div>
  </div>
<% end %>

<%= render "admin/shared/links" %>
