<div class="container">
  <div class="row m-2">
    <div class="col-2">
      <h4 class="bg-light">注文履歴詳細</h4>
    </div>
  </div>
  <div class="row mb-4">
    <table>
      <tr>
        <th>購入者</th>
        <td><%= @order.customer.full_name %></td>
        <td></td>
      </tr>
      <tr>
        <th>注文日</th>
        <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
        <td></td>
      </tr>
      <tr>
        <th valign="top">配送先</th>
        <td colspan="2"><%= @order.address_display %></br><%= @order.customer.full_name %></td>
      </tr>
      <tr>
        <th>支払方法</th>
        <td><%= @order.pay_method_i18n %></td>
        <td></td>
      </tr>
      <tr>
        <th>注文ステータス</th>
        <%= form_with model: @order, url: admin_order_path(@order.id), method: :patch do |f| %>
          <td><%= f.select :order_status, Order.order_statuses.keys.map{|k| [I18n.t("enums.order.order_status.#{k}"), k]} %></td>
          <td><%= f.submit "更新", class:"btn btn-success" %></td>
        <% end %>
      </tr>
    </table>
  </div>
  <div class="row">
    <div class="col-8">
      <table class="table table-bordered">
        <thaed class="thead-light">
          <th>商品名</th>
          <th>単価(税込)</th>
          <th>数量</th>
          <th>小計</th>
          <th>製作ステータス</th>
          <th></th>
        </thaed>
        <tbody>
          <% @order.order_details.each do |order_detail| %>
            <tr>
              <td><%= order_detail.item.name %></td>
              <td><%= order_detail.total_price.to_s(:delimited) %></td>
              <td><%= order_detail.amount %></td>
              <td>
                <% subtotal=(order_detail.total_price*order_detail.amount).to_i %>
                <%= subtotal.to_s(:delimited) %>
              </td>
              <%= form_with model: order_detail, url: admin_order_detail_path(order_detail.id), method: :patch do |f| %>
                <td><%= f.select :product_status, OrderDetail.product_statuses.keys.map{|k| [I18n.t("enums.order_detail.product_status.#{k}"), k]} %></td>
                <td><%= f.submit "更新", class:"btn btn-success" %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-3 offset-1 align-self-end">
      <table>
        <tr>
          <th class="m-2">商品合計</th>
          <td>
            <% item_total = @order.payment - @order.postage %>
            <%= item_total.to_s(:delimited) %>円
          </td>
        </tr>
        <tr>
          <th>送料</th>
          <td><div class="text-right"><%= @order.postage %>円</div></td>
        </tr>
        <tr>
          <th>請求金額合計</th>
          <td><%= @order.payment.to_s(:delimited) %>円</td>
        </tr>
      </table>
    </div>
  </div>
</div>
