<div class="container">
  <div class="row mb-2">
    <div class="col-2">
      <h4 class="bg-light">注文履歴詳細</h4>
    </div>
  </div>
  <div class="row mb-4">
    <table>
      <tr>
        <th>購入者</th>
        <td><%= @order.customer.full_name %></td>
        <td></td>
      </tr>
      <tr>
        <th>注文日</th>
        <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
        <td></td>
      </tr>
      <tr>
        <th>配送先</th>
        <td colspan="2"><%= @order.address_display %></br><%= @order.customer.full_name %></td>
      </tr>
      <tr>
        <th>支払方法</th>
        <td><%= @order.pay_method_i18n %></td>
        <td></td>
      </tr>
      <tr>
        <th>注文ステータス</th>
        <td><%= f.select :order_status, Order.order_statuses.keys.map{|k| [I18n.t("enums.order.order_status.#{k}"), k]} %></td>
        <td><%= link_to "更新", admin_order_path(order.id), class:"btn btn-success", method: :patch %></td>
      </tr>
    </table>
  </div>
  <div class="row">
    <div class="col-7">
      <table class="table table-bordered">
        <thaed class="thead-light">
          <th>商品名</th>
          <th>単価(税込)</th>
          <th>数量</th>
          <th>小計</th>
          <th>製作ステータス</th>
          <th></th>
        </thaed>
        <tbody>
          <%= @order.order_details.each do |order_detail| %>
            <td><%= order_detail.item.name %></td>
            <td><%= order_detail.total_price %></td>
            <td><%= order_detail.amount %></td>
            <td>
              <% subtotal=(order_detail.total_price*order_detail.amount).to_i %>
              <%= subtotal.to_s(:delimited) %>
            </td>
            <td></td>
            <td><%= link_to "更新", admin_order_detail_path(order_detail.id), method: :patch %></td>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-3 offset-1">
      <table>
        <tr>
          <th>商品合計</th>
          <td>
            <% item_total = @order.payment - @order.postage %>
            <%= item_total.to_s(:delimited) %>
          </td>
          <th>送料</th>
          <td><%= @order.postage %></td>
          <th>請求金額合計</th>
          <td><%= @order.payment %></td>
        </tr>
      </table>
    </div>
  </div>
</div>
