<div class="container">
  <div class="row">
    <h2 class="bg-light m-5">配送先登録/一覧</h2>
  </div>
  <div class="row">
    <%= form_with model: @address, url: addresses_path, method: :post do |f| %>
    <table class="table table-borderless table-sm w-auto">
      <tbody>
        <tr>
          <td><%= f.label :postal_code %></td>
          <td><%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code", placeholder: "0000000" %></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td><%= f.label :address %></td>
          <td colspan="2"><%= f.text_field :address, size: 55, autofocus: true, autocomplete: "address", placeholder: "東京都町田市原町田0-0" %></td>
          <td></td>
        </tr>
        <tr>
          <td class="w-30">宛名</td>
          <td><%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "令和道子" %></td>
          <td></td>
          <td><%= f.submit "新規登録", class: 'btn btn-success' %></td>
        </tr>
      </tbody>
    </table>
    <% end %>
  </div>
  <div class="row">
    <div class="col-md-8 offset-md-1">
      <h4 class="bg-light m-5">商品一覧</h4>
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th>郵便番号</th>
            <th>住所</th>
            <th>宛名</th>
            <th>編集/削除</th>
          </tr>
        </thead>
        <tbody>
          <% @addressess.each do |address| %>
            <% if address.costomer_id == @customer.id %>
              <tr>
                <td><%= address.postal_code %></td>
                <td><%= address.address %></td>
                <td><%= address.name %></td>
                <td>
                  <%= link_to "編集する", edit_address_path(@customer.id), class:"btn btn-sm btn-success" %>
                  <%= link_to "削除する", address_path(@customer.id), class:"btn btn-sm btn-danger", method: :delete %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>



