<div class="container">
  <div class="row">
    <h2 class="bg-light m-5">配送先登録/一覧</h2>
  </div>
  <div class="row">
    <div class="col-11">
    <%= form_with model: @address, url: addresses_path, method: :post do |f| %>
      <table class="table table-borderless table-sm w-auto">
        <tbody>
          <tr>
            <th>郵便番号(ハイフンなし)</th>
            <td><%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code", placeholder: "0000000" %></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>住所</th>
            <td colspan="2"><%= f.text_field :address, size: 60, autofocus: true, autocomplete: "address", placeholder: "東京都町田市原町田0-0" %></td>
          </tr>
          <tr>
            <th>宛名</th>
            <td><%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "令和道子" %></td>
            <td></td>
            <td><%= f.submit "新規登録", class: 'btn btn-success' %></td>
          </tr>
        </tbody>
      </table>
    <% end %>
    </div>
    
  </div>
  <div class="row mt-5">
    <div class="col-md-9">
      <table class="table table-bordered table-inverse">
        <thead class="thead-light">
          <tr>
            <th class="w-auto">郵便番号</th>
            <th>住所</th>
            <th>宛名</th>
            <th class="col-3"></th>
          </tr>
        </thead>
        <tbody>
          <% @addresses.each do |address| %>
            <% if address.customer_id == @customer.id %>
              <tr>
                <td><%= address.postal_code %></td>
                <td><%= address.address %></td>
                <td><%= address.name %></td>
                <td>
                  <%= link_to "編集する", edit_address_path(address.id), class:"btn btn-sm btn-success" %>
                  <%= link_to "削除する", address_path(address.id), class:"btn btn-sm btn-danger ml-4", method: :delete %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>



