<%= form_with model: @order, url: orders_confirm_path, method: :post do |f| %>
<div class="container">
  <div class="row ml-5 mb-2">
    <h4 class="bg-light">注文情報入力</h4>
  </div>
  <div class="row h-auto mb-2">
    <div class="pay_method_title w-100">
      <p class="lead font-weight-hold">支払方法</p>
    </div>
    <div class="pay_method ml-5">
      <p class="mb-0">
        <%= f.radio_button :pay_method, Order.payment_methods.key(0) %>
        <%= f.label :pay_method_credit_card, Order.payment_methods_i18n[:credit_card] %>
      </p>
      <p>
        <%= f.radio_button :pay_method, Order.payment_methods.key(1) %>
        <%= f.label :pay_method_transfer, Order.payment_methods_i18n[:transfer] %>
      </p>
    </div>
  </div>
  <div class="row h-auto mb-2">
    <div class="pay_method_title w-100">
      <p class="lead font-weight-hold">お届け先</p>
    </div>
    <div class="pay_method ml-5">
      <p class="mb-0">
        <%= f.radio_button :self_address,  %>
        <%= f.label :pay_method_credit_card, "ご自身の住所" %>
        <%= current_customer.self_address_display %>
        <%= current_customer.full_name %>
      </p>
      <p>
        <%= f.radio_button :pay_method,  %>
        <%= f.label :pay_method_transfer, "登録済み住所から選択" %>
        <%= f.select :address_id, option_from_collection_for_select(Address.all, :id, :address_display) %>
      </p>
    </div>
  </div>
</div>
<% end %>  
  
  