<div class="container">
  <div class="row">
    <div class="col-md-10 offset-1">
      <div class="h2 font-weight-bold text-left my-5">商品一覧(全<%= Item.count %>件)</div>
      <div class="row">
        <div class="col">
          <% @items.each do |item| %>
          <div class="d-inline-flex flex-column">
            <%= link_to item_path(item.id) do %>
              <% image_tag item.image, size: '200x200' %>
            <% end %>
            <div class="font-weight-bold"><%= item.name %></div>
            <div class="font-weight-bold">
              <%= item.price.to_s(:delimited) %>円
            </div>
          </div>
          <% end %>
        </div>
      </div>
       <div class="row mt-5">
        <div class="col">
          <div class="d-flex justify-content-center">
            <%= paginate @items, theme: 'twitter-bootstrap-4' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


