<div class="container">
  <div class="row">
    <div class="col">
      <table class="table h4 h-50">
        <thead>
          <tr>
            <th>genre search(仮)</th>
          </tr>
        </thead>
        <tbody>
          <% @genres.each do |genre| %>
            <tr>
              <td><%= genre.name %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-10">
      <div class="h2 font-weight-bold text-left">商品一覧(全<%= Item.count %>件)</div>
    </div>
  </div>
  <div class="row">
    <div class="col"></div>
    <div class="col-10">
      <% @items.each do |item| %>
      <div class="d-inline-flex flex-column">
        <%= link_to item_path(item.id) do %>
          <% image_tag item.image, size: '200x200' %>
        <% end %>
        <div class="h5 font-weight-bold"><%= item.name %></div>
        <div class="h5 font-weight-bold">
          <%= item.price.to_s(:delimited) %>円
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <div class="text-center"><%= paginate @items %></div>
</div>


